// 字体图标
.iconfont {
  display: block;
}

// element plus

// 消息
.el-message {
  z-index: 99999 !important;
}

// 指令loading
.el-loading-mask {
  background-color: rgba(225, 225, 225, 0.4) !important;
}


// vant

// 通用弹窗
.em-pop-wrap {
  width: 3.45rem;
  border-radius: 0.1rem;
  background-color: #eaf4ff !important;
  border: solid 2px #fff;
}

// 箭头
.icon-arrow {
  cursor: pointer;
}

// 加载中和空数据
.loading,
.empty {
  text-align: center;
  margin: 0.1rem 0;
}
